In [2]:
import pandas as pd 
import numpy as np
nganh = ["Ke toan", "Luat", "NgoaiNgu", "CNTT"] 
soluong_sv = [200, 160, 800, 100]
S = pd.Series(soluong_sv, index=nganh)
print(S) 
print(S.index) 
print(S.values)

Ke toan     200
Luat        160
NgoaiNgu    800
CNTT        100
dtype: int64
Index(['Ke toan', 'Luat', 'NgoaiNgu', 'CNTT'], dtype='object')
[200 160 800 100]

In [3]:
import pandas as pd 
import numpy as np
nganh = ["Ke toan", "Luat", "NgoaiNgu", "CNTT"] 
soluong_sv = [200, 160, 800, 100]
S = pd.Series(soluong_sv, index=nganh)
# chỉ số giống nhau thì tính gộp, nếu không thì NaN 
P = pd.Series([300, 400], ['CoKhi', 'CNTT'])
Y = S + P
print(Y)

CNTT        500.0
CoKhi         NaN
Ke toan       NaN
Luat          NaN
NgoaiNgu      NaN
dtype: float64

In [4]:
import pandas as pd 
import numpy as np
nganh = ["Ke toan", "Luat", "NgoaiNgu", "CNTT"] 
soluong_sv = [200, 160, 800, 100]
S = pd.Series(soluong_sv, index=nganh)
Y = S + 200
print(Y)

Ke toan      400
Luat         360
NgoaiNgu    1000
CNTT         300
dtype: int64

In [5]:
import pandas as pd
# Creating the Series
sr = pd.Series(['New York', 'Chicago', 'Toronto', 'Lisbon']) 
# Creating the row axis labels
sr.index = ['City 1', 'City 2', 'City 3', 'City 4']
# Print the series 
print(sr)
# return the element at the first position 
sr.axes

City 1    New York
City 2     Chicago
City 3     Toronto
City 4      Lisbon
dtype: object

[Index(['City 1', 'City 2', 'City 3', 'City 4'], dtype='object')]

In [6]:
import pandas as pd 
import numpy as np 
def Tang(x):
    return x if x > 500 else x + 1000 
chi_so = ["Ke toan", "KT", "CNTT", "Co khi"] 
gia_tri = [310, 360, 580, 340]
S = pd.Series(gia_tri, chi_so)
# áp dụng Tang trên S (không thay đổi S)
print(S.apply(Tang))
print(S)

Ke toan    1310
KT         1360
CNTT        580
Co khi     1340
dtype: int64
Ke toan    310
KT         360
CNTT       580
Co khi     340
dtype: int64

In [7]:
names_rank = [['MIT',1],["Stanford",2]]
df = pd.DataFrame(names_rank)
print(df)

          0  1
0       MIT  1
1  Stanford  2

In [9]:
import pandas as pd
d = {'col1': [1, 2], 'col2': [3, 4]}
df = pd.DataFrame(data=d)
print(df )
# check data type 
print(df.dtypes)
# To enforce a single dtype
df = pd.DataFrame(d, dtype=np.int8) 
print(df.dtypes)

   col1  col2
0     1     3
1     2     4
col1    int64
col2    int64
dtype: object
col1    int8
col2    int8
dtype: object

In [10]:
crimes_rates = { "Year":[1960,1961,1962,1963,1964],
                "Population":[179323175,182992000,185771000,188483000,191141000], 
                "Total":[3384200,3488000,3752200,4109500,4564600], 
                "Violent":[288460,289390,301510,316970,364220]
                }
crimes_dataframe = pd.DataFrame(crimes_rates) 
print(crimes_dataframe)

   Year  Population    Total  Violent
0  1960   179323175  3384200   288460
1  1961   182992000  3488000   289390
2  1962   185771000  3752200   301510
3  1963   188483000  4109500   316970
4  1964   191141000  4564600   364220

In [11]:
data = [
{'MIT': 5000, 'Stanford': 4500},
{'MIT': 1, 'Stanford': 2}
]
df = pd.DataFrame(data, index=['NumOfStudents', "ranking"])
print(df)
print(df.MIT.dtype)

                MIT  Stanford
NumOfStudents  5000      4500
ranking           1         2
int64

In [12]:
data = {
"one": pd.Series([1,23,45], index = [1,2,3]),
"two": pd.Series([1000,2400,1132,3434], index = [1,2,3,4])
}
df = pd.DataFrame(data) 
print(df)

    one   two
1   1.0  1000
2  23.0  2400
3  45.0  1132
4   NaN  3434

In [13]:
df2 = pd.DataFrame(np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]), columns=['a', 'b', 'c'])
df2

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9