In [3]:
import numpy as np
import pandas as pd

In [4]:
# Câu 1: Tạo DataFrame từ danh sách và áp dụng the series
def Giam(x):
    return -x if x < 500 else x - 1000

nganh = ['Kế toán', 'Ngoại ngữ', 'CNTT', 'Luật', 'VH-DL']
chitieu_tuyensinh = [300, 200, 400, 550, 800]
diemchuan = [18, 20, 22, 19, 21]

S = pd.Series(nganh)
C = pd.Series(chitieu_tuyensinh)
D = pd.Series(diemchuan)
df = pd.DataFrame({'Ngành': S, 'Chỉ tiêu tuyển sinh': C, 'Điểm chuẩn': D})
print("DataFrame ban đầu:")
print(df)
print("\n")
df['Chỉ tiêu tuyển sinh'] = df['Chỉ tiêu tuyển sinh'].apply(Giam)
print("DataFrame sau khi áp dụng hàm Giam:")
print(df)

DataFrame ban đầu:
       Ngành  Chỉ tiêu tuyển sinh  Điểm chuẩn
0    Kế toán                  300          18
1  Ngoại ngữ                  200          20
2       CNTT                  400          22
3       Luật                  550          19
4      VH-DL                  800          21


DataFrame sau khi áp dụng hàm Giam:
       Ngành  Chỉ tiêu tuyển sinh  Điểm chuẩn
0    Kế toán                 -300          18
1  Ngoại ngữ                 -200          20
2       CNTT                 -400          22
3       Luật                 -450          19
4      VH-DL                 -200          21

In [5]:
# Câu 2: Tạo DataFrame từ dictionary series
data = {
    "Họ tên" : pd.Series(['Nguyễn Văn A', 'Trần Thị B', 'Lê Văn C', 'Phạm Thị D', 'Hoàng Văn E']),
    "Điểm TB" : pd.Series([8.5, 7.0, 9.0, 6.5, 8.0])
}
df_students = pd.DataFrame(data)
print("\nDataFrame sinh viên:")
print(df_students)

DataFrame sinh viên:
         Họ tên  Điểm TB
0  Nguyễn Văn A      8.5
1    Trần Thị B      7.0
2      Lê Văn C      9.0
3    Phạm Thị D      6.5
4   Hoàng Văn E      8.0

In [6]:
# Câu 3: Tạo DataFrame từ NumPy ndArray
arr = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
columns = ['A', 'B', 'C', 'D'][:arr.shape[1]]
df_array = pd.DataFrame(arr, columns=columns)
print("\nDataFrame từ mảng NumPy:")
print(df_array)

DataFrame từ mảng NumPy:
   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [7]:
# Câu 4: Tạo DataFrame và dùng sorting

df = pd.DataFrame(np.random.randn(10, 4), columns=['A', 'B', 'C', 'D'])
print("\nDataFrame ban đầu:")
print(df)
df.sort_index(axis = 1, ascending=False, inplace=True)
print("\nDataFrame sau khi sắp xếp theo chỉ số giảm dần:")
print(df)
df.sort_values(by='B', ascending=False, inplace=True)
print("\nDataFrame sau khi sắp xếp theo cột B giảm dần:")
print(df)

DataFrame ban đầu:
          A         B         C         D
0  0.378520 -0.426654 -0.478866 -0.843072
1  1.984547 -0.162844  0.624601 -0.892877
2  0.696882  0.351556 -0.228205  0.109343
3 -0.635766  0.148374 -2.502491 -1.752811
4 -0.230509 -0.732175 -0.218769 -1.529136
5 -0.197755  0.589582  0.122785  0.645472
6  2.289646  1.140452  1.288143  0.177064
7  1.598247  1.181638  0.949358 -0.243071
8  0.996437  1.365367  0.560218  0.395638
9  1.474279  2.616113 -1.957357 -1.879170

DataFrame sau khi sắp xếp theo chỉ số giảm dần:
          D         C         B         A
0 -0.843072 -0.478866 -0.426654  0.378520
1 -0.892877  0.624601 -0.162844  1.984547
2  0.109343 -0.228205  0.351556  0.696882
3 -1.752811 -2.502491  0.148374 -0.635766
4 -1.529136 -0.218769 -0.732175 -0.230509
5  0.645472  0.122785  0.589582 -0.197755
6  0.177064  1.288143  1.140452  2.289646
7 -0.243071  0.949358  1.181638  1.598247
8  0.395638  0.560218  1.365367  0.996437
9 -1.879170 -1.957357  2.616113  1.474279

DataFrame sau khi sắp xếp theo cột B giảm dần:
          D         C         B         A
9 -1.879170 -1.957357  2.616113  1.474279
8  0.395638  0.560218  1.365367  0.996437
7 -0.243071  0.949358  1.181638  1.598247
6  0.177064  1.288143  1.140452  2.289646
5  0.645472  0.122785  0.589582 -0.197755
2  0.109343 -0.228205  0.351556  0.696882
3 -1.752811 -2.502491  0.148374 -0.635766
1 -0.892877  0.624601 -0.162844  1.984547
0 -0.843072 -0.478866 -0.426654  0.378520
4 -1.529136 -0.218769 -0.732175 -0.230509

In [8]:
# Câu 5: Select, Add, Delete, Insert, Assign columns
print("\nChọn cột A và B:")
print(df[['A', 'B']])

del df['D']
print("\nDataFrame sau khi xóa cột D:")
print(df)

third_col = df.pop('C')
print("\nDataFrame của cột C:")
print(third_col)

Chọn cột A và B:
          A         B
9  1.474279  2.616113
8  0.996437  1.365367
7  1.598247  1.181638
6  2.289646  1.140452
5 -0.197755  0.589582
2  0.696882  0.351556
3 -0.635766  0.148374
1  1.984547 -0.162844
0  0.378520 -0.426654
4 -0.230509 -0.732175

DataFrame sau khi xóa cột D:
          C         B         A
9 -1.957357  2.616113  1.474279
8  0.560218  1.365367  0.996437
7  0.949358  1.181638  1.598247
6  1.288143  1.140452  2.289646
5  0.122785  0.589582 -0.197755
2 -0.228205  0.351556  0.696882
3 -2.502491  0.148374 -0.635766
1  0.624601 -0.162844  1.984547
0 -0.478866 -0.426654  0.378520
4 -0.218769 -0.732175 -0.230509

DataFrame của cột C:
9   -1.957357
8    0.560218
7    0.949358
6    1.288143
5    0.122785
2   -0.228205
3   -2.502491
1    0.624601
0   -0.478866
4   -0.218769
Name: C, dtype: float64

In [9]:
df.insert(2, 'Q', third_col)
print("\nDataFrame sau khi chèn lại cột Q:")
print(df)

DataFrame sau khi chèn lại cột Q:
          B         A         Q
9  2.616113  1.474279 -1.957357
8  1.365367  0.996437  0.560218
7  1.181638  1.598247  0.949358
6  1.140452  2.289646  1.288143
5  0.589582 -0.197755  0.122785
2  0.351556  0.696882 -0.228205
3  0.148374 -0.635766 -2.502491
1 -0.162844  1.984547  0.624601
0 -0.426654  0.378520 -0.478866
4 -0.732175 -0.230509 -0.218769

In [10]:
df = df.assign(E = df['A'] + df['B'], F = df['A'] - df['B'], G = df['A'] * df['B'], H = df['A'] / df['B'])
print("\nDataFrame sau khi thêm cột E, F, G và H:")
print(df)

DataFrame sau khi thêm cột E, F, G và H:
          B         A         Q         E         F         G          H
9  2.616113  1.474279 -1.957357  4.090391 -1.141834  3.856879   0.563538
8  1.365367  0.996437  0.560218  2.361804 -0.368930  1.360503   0.729795
7  1.181638  1.598247  0.949358  2.779886  0.416609  1.888551   1.352569
6  1.140452  2.289646  1.288143  3.430097  1.149194  2.611231   2.007665
5  0.589582 -0.197755  0.122785  0.391827 -0.787337 -0.116593  -0.335416
2  0.351556  0.696882 -0.228205  1.048438  0.345326  0.244993   1.982279
3  0.148374 -0.635766 -2.502491 -0.487392 -0.784140 -0.094331  -4.284887
1 -0.162844  1.984547  0.624601  1.821703  2.147391 -0.323172 -12.186775
0 -0.426654  0.378520 -0.478866 -0.048133  0.805174 -0.161497  -0.887184
4 -0.732175 -0.230509 -0.218769 -0.962684  0.501667  0.168773   0.314827

In [11]:
# Câu 6: Filter rows
filtered_df = df[df['A'] > 0]
print("\nDataFrame sau khi lọc các hàng có giá trị cột A > 0:")
print(filtered_df)

DataFrame sau khi lọc các hàng có giá trị cột A > 0:
          B         A         Q         E         F         G          H
9  2.616113  1.474279 -1.957357  4.090391 -1.141834  3.856879   0.563538
8  1.365367  0.996437  0.560218  2.361804 -0.368930  1.360503   0.729795
7  1.181638  1.598247  0.949358  2.779886  0.416609  1.888551   1.352569
6  1.140452  2.289646  1.288143  3.430097  1.149194  2.611231   2.007665
2  0.351556  0.696882 -0.228205  1.048438  0.345326  0.244993   1.982279
1 -0.162844  1.984547  0.624601  1.821703  2.147391 -0.323172 -12.186775
0 -0.426654  0.378520 -0.478866 -0.048133  0.805174 -0.161497  -0.887184

In [12]:
# dùng loc và iloc
print("\nSử dụng loc:")
print(df.loc[filtered_df.index, ['A', 'B', 'E']])
print("\nSử dụng iloc:")
print(df.iloc[filtered_df.index, [0, 1, 3]])

Sử dụng loc:
          A         B         E
9  1.474279  2.616113  4.090391
8  0.996437  1.365367  2.361804
7  1.598247  1.181638  2.779886
6  2.289646  1.140452  3.430097
2  0.696882  0.351556  1.048438
1  1.984547 -0.162844  1.821703
0  0.378520 -0.426654 -0.048133

Sử dụng iloc:
          B         A         E
4 -0.732175 -0.230509 -0.962684
0 -0.426654  0.378520 -0.048133
1 -0.162844  1.984547  1.821703
3  0.148374 -0.635766 -0.487392
7  1.181638  1.598247  2.779886
8  1.365367  0.996437  2.361804
9  2.616113  1.474279  4.090391

In [13]:
# Câu 7: Group by and Aggregate
data = {
    'Ngành': ['CNTT', 'CNTT', 'Kế toán', 'Kế toán', 'Luật', 'Luật'],
    'Điểm': [22, 24, 18, 20, 19, 21]
}
df = pd.DataFrame(data)
grouped = df.groupby('Ngành').agg({'Điểm': ['mean', 'max', 'min']})
print("\nBảng tổng hợp điểm theo ngành:")
print(grouped)

Bảng tổng hợp điểm theo ngành:
         Điểm
         mean max min
Ngành
CNTT     23.0  24  22
Kế toán  19.0  20  18
Luật     20.0  21  19

In [14]:
# Câu 8: Merge, Join, Concatenate
df1 = pd.DataFrame({
    'MSSV': [1, 2, 3],
    'Họ tên': ['Nguyễn Văn A', 'Trần Thị B', 'Lê Văn C']
})
df2 = pd.DataFrame({
    'MSSV': [1, 2, 4],
    'Điểm': [8, 9, 7]
})
merged_df = pd.merge(df1, df2, on='MSSV', how='inner')
print("\nDataFrame sau khi merge:")
print(merged_df)
concatenated_df = pd.concat([df1, df2], ignore_index=True, sort=False)
print("\nDataFrame sau khi concatenate:")
print(concatenated_df)

DataFrame sau khi merge:
   MSSV        Họ tên  Điểm
0     1  Nguyễn Văn A     8
1     2    Trần Thị B     9

DataFrame sau khi concatenate:
   MSSV        Họ tên  Điểm
0     1  Nguyễn Văn A   NaN
1     2    Trần Thị B   NaN
2     3      Lê Văn C   NaN
3     1           NaN   8.0
4     2           NaN   9.0
5     4           NaN   7.0

In [15]:
# Câu 9: Pivot tables
data = {
    'Ngành': ['CNTT', 'CNTT', 'Kế toán', 'Kế toán', 'Luật', 'Luật'],
    'Năm': [2022, 2023, 2022, 2023, 2022, 2023],
    'Chỉ tiêu': [400, 450, 300, 320, 500, 550]
}
df = pd.DataFrame(data)
pivot_table = df.pivot_table(values='Chỉ tiêu', index='Ngành', columns='Năm', aggfunc='sum', fill_value=0)
print("\nBảng pivot của chỉ tiêu theo ngành và năm:")
print(pivot_table)

Bảng pivot của chỉ tiêu theo ngành và năm:
Năm      2022  2023
Ngành
CNTT      400   450
Kế toán   300   320
Luật      500   550

In [16]:
# Câu 10: Đọc file CSV, Excel, JSON, HTML, SQL
# Đọc file CSV
df_csv1 = pd.read_csv('fifa19.csv', usecols=['Name', 'Age', 'Photo', 'Club'])
df_csv2 = pd.read_csv('weather.csv', usecols= ['pickup_datetime', 'wgustm', 'wgusti'])
print("\nĐọc file FIFA 2019:")
print(df_csv1.head())
print("\nĐọc file thời tiết:")
print(df_csv2.head())

Đọc file FIFA 2019:
                Name  Age                                           Photo  \
0           L. Messi   31  https://cdn.sofifa.org/players/4/19/158023.png
1  Cristiano Ronaldo   33   https://cdn.sofifa.org/players/4/19/20801.png
2          Neymar Jr   26  https://cdn.sofifa.org/players/4/19/190871.png
3             De Gea   27  https://cdn.sofifa.org/players/4/19/193080.png
4       K. De Bruyne   27  https://cdn.sofifa.org/players/4/19/192985.png

                  Club
0         FC Barcelona
1             Juventus
2  Paris Saint-Germain
3    Manchester United
4      Manchester City

Đọc file thời tiết:
       pickup_datetime      wgustm  wgusti
0  2015-12-31 00:15:00  Light Rain    rain
1  2015-12-31 00:42:00    Overcast  cloudy
2  2015-12-31 00:51:00    Overcast  cloudy
3  2015-12-31 01:51:00    Overcast  cloudy
4  2015-12-31 02:51:00    Overcast  cloudy

In [17]:
from IPython.display import display

# Đọc file Excel
df_excel = pd.read_excel('data_customers.xlsx')
print("\nĐọc file khách hàng từ Excel:")
# Hiển thị đẹp hơn với pandas, có thể dùng display hoặc style
display(df_excel.head())

Đọc file khách hàng từ Excel:

,Fullname,Gender,Phone Number,Date of Birth,Address,Company Name
0,Trương Thuần Hậu,Nữ,378331569,16/03/2004,"Số 139, Đường Lê Lợi, Xã Thạch Ngàn, Huyện Con...",Công ty TNHH Bia Sapporo
1,Trần Huy Khiêm,Nam,936899552,06/11/1989,"Số 645, Đường Lê Lợi, Phường Hòa Khánh Bắc, Qu...",Công ty CP bánh kẹo Biển Xanh
2,Dương Việt Khải,Nam,910140331,22/02/1986,"Số 34, Đường Lê Lợi, Xã An Nhân, Huyện Vĩnh Tư...",Mặt Trời Vàng
3,Lý Bữu Toại,Nam,331560633,01/04/1993,"Số 321, Đường Trần Hưng Đạo, Xã San Thàng, Thà...",Công ty Cổ phần Thực phẩm Dinh dưỡng NutiFood
4,Phạm Minh Hà,Nữ,928474406,16/02/1991,"Số 621, Đường Lê Lợi, Phường Nhơn Hoà, Thị xã ...",Công ty Cổ phần Acecook Việt Nam

In [18]:
from IPython.display import display

# Đọc file JSON
data = pd.read_json("provinces.json")

# Lấy phần 'provinces' (danh sách tỉnh/thành)
df_json = pd.DataFrame(data["provinces"].tolist())

print("\nĐọc file tỉnh thành từ JSON:")
display(df_json[["code", "name"]].head())

Đọc file tỉnh thành từ JSON:

  code              name
0   01  Thành phố Hà Nội
1   04     Tỉnh Cao Bằng
2   08  Tỉnh Tuyên Quang
3   11    Tỉnh Điện Biên
4   12     Tỉnh Lai Châu